/*________________________________________________LOGIN BODY___________________*/

body{
  background: rgb( 30, 30, 30 );
}


/*Login Box code________________________________________LOGIN PAGE__________*/
.itm_LoginBox{
  background: rgb(80, 80, 80);
	padding: 20px 40px;
	max-width: 500px;
	margin: 0 auto;
	transition: 2s;
  border-bottom: 20px solid rgb(183, 73, 73);
}

.itm_LoginBox h1{
	color: rgb(255, 255, 255);
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	transition-duration: 300ms;
  font-family: pasta;
}

.itm_LoginBox p{
	display: inline-block;
	color: rgb(255, 255, 255);
	font-weight: 600;
	line-height: 40px;
	font-size: 16px;
  font-family: pasta;
}

.itm_LoginBox p:hover{
	display: inline-block;
	color: rgb(255, 255, 255);
	font-weight: 600;
	line-height: 40px;
	cursor: pointer;
	text-decoration: underline;
}

.itm_input{
	border: none;
	border-bottom: 2px solid rgb(183, 73, 73);
	display: inline-block;
	margin: 20px auto;
	width: 100%;
	height: 40px;
}

.itm_input[type="text"]{
  background: rgb(80, 80, 80);
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-family: pasta;
	transition-duration: 300ms;
}

.itm_input[type="password"]{
  background: rgb(80, 80, 80);
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-family: pasta;
	transition-duration: 300ms;
}

.itm_input:focus{
	border-bottom: 4px solid rgb(183, 73, 73);
}

.itm_submit{
	background: rgb(183, 73, 73);
	color: white;
	display: block;
	float: right;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	font-family: pasta;
  transition-duration: 200ms;
}

.itm_submit:hover{
	background: rgb(109, 44, 44);
}


/*Title and disclaimer code ________________________________LOGIN DEEL 2_____________________________*/
.itm_title{
	position: fixed;
	top: 0;
	left: 10px;
	right: 10px;
	transition-duration: 300ms;
}

.itm_title h1{
	transition-duration: 300ms;
  color: white;
  font-family: pasta;
}

.itm_disclaimer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.itm_disclaimer h1{
	font-size: 16px;
	text-align: center;
	transition-duration: 300ms;
  color: white;
  font-family: pasta;
}


/*@media attributes_______________________________________@MEDIA ATTRIBUTS________________________*/
@media screen and (max-width: 700px){

	.itm_title h1{
		font-size: 24px;
	}

	.itm_title{
		text-align: center;
	}

  .itm_LoginBox{
    max-width: 370px;
  }

	.itm_LoginBox h1{
		font-size: 24px;
	}

	.itm_LoginBox p{
		font-size: 12px;
	}

	.itm_disclaimer h1{
		font-size: 12px;
	}
}
