.table_hover:hover{
    background: rgb(183, 73, 73);
}

.table_hover td a{
    display: block;
    color: darkgray;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    padding-top: 8px;
    margin-bottom: -8px;
    padding-bottom: 8px;
}

.table_thrash{
    display: inline-block;
    text-align: center;
    color: white!important;
}

.table_thrash:hover{
    background: white;
    color: black!important;
}

.beheer_pages_boolean{
    display: inline-block;
    float: right;
}

.page_update{
    background: rgb(80, 80, 80);
    padding: 40px;
    margin-bottom: 40px;
    border-bottom: 20px solid rgb(183, 73, 73);
}

.page_update input{
    border: none;
    border-bottom: 2px solid rgb(183, 73, 73);
    display: inline-block;
    background: rgb(80, 80, 80);
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    color: white;
    transition-duration: 300ms;
    font-size: 20px;
}

.page_update input:focus{
    border-bottom: 5px solid rgb(183, 73, 73);
}

.page_update select{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    color: darkgray;
    padding: 2px;
    border: none;
    border-bottom: 2px solid rgb(183, 73, 73);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/DOWN.png") 96% / 3% no-repeat rgb(80, 80, 80);
}

.page_update textarea{
    font-size: 14px;
    background: rgb(80,80,80);
    border: none;
    width: 100%;
    min-height: 100px;
    border-bottom: 2px solid rgb(183, 73, 73);
    border-left: 10px solid rgb(183, 73, 73);
    margin-top: 10px;
    color: white;
    transition-duration: 300ms;
}

.page_update textarea:focus{
    border-bottom: 5px solid rgb(183, 73, 73);
}

.submit{
    position: fixed;
    bottom: 100px;
    right: 60px;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    z-index: 10;
}

.submit input[type="submit"]{
    height: 70px;
    width: 180px;
    background: rgb(183, 73, 73);
    border: 5px solid rgb(30, 30, 30);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-family: pasta;
    transition-duration: 300ms;
}

.submit input:hover{
    background: darkred;
}