/*Setting standard fonts______________________________STANDAARDS__________________*/
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

h1{
	font-family: pasta;
	color: white;
	margin: 0;
}

p{
	font-family: pasta;
	color: white;
}

body{
	background: rgb(30, 30, 30);
}

a:hover{
	color: inherit;
	text-decoration:none;
}


/*__________________________________________________________BEHEER HEADER_______________________*/
.beheer-header-rood{
	background: rgb(183, 73, 73);
}


.beheer-header{
	display: inline-block;
}

.beheer-header h1{
	margin-top: 20px;
	font-size: 40px;
}

.beheer-header-uitlog{
	display: inline-block;
	float: right;
	margin-right: -15px;
}

.beheer-header-uitlog i{
	color: white;
}

.beheer-header-uitlog button{
	border: none;
	background: rgb(200, 110, 110);
	height: 80px;
	width: 100px;
	text-align: center;
	transition-duration: 300ms;
	transform: rotate( 180deg );
}

.beheer-header-uitlog button:hover{
	background: rgb(173, 26, 0);
	transform: rotate( 360deg );
	border-top-left-radius: 999px;
	border-bottom-left-radius: 999px;
}

.beheer-header-uitlog i:hover{
	color: red;
}

.beheer-supp-header{
	width: auto;
	background: rgb(183, 73, 73);
	z-index: 2;
}

.beheer-content{
	margin-top: 20px;
	margin-bottom: 60px;
}

/*__________________________________________________BEHEER HOOFDSCHERM______*/

/*________________DE OPTIES_______________________*/
.beheer-option{
	height: 250px;
	margin: 0px -15px;
	padding: 20px;
	text-align: center;
}

.beheer-option i{
	display: inline-block;
	margin-top: 50px;
	color: white;
}

.beheer-option-A{
	background: rgb(135, 193, 153);
}

.beheer-option-B{
	background: rgb(124, 209, 255);
}

.beheer-option-C{
	background: rgb(226, 130, 74);
}

.beheer-option-D{
	background: rgb(102, 108, 135);
}

.beheer-option-E{
	background: rgb(193, 198, 49);
}

.beheer-option-F{
	background: rgb(80, 158, 74);
}

.beheer-option::after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transform: scaleY( 0 );
	transform-origin: top;
	background: rgba( 10, 10, 10, 0.5);
	transition-duration: 300ms;
}

.beheer-option:hover::after{
	transform: scaleY( 1 );
}

/*______________________________________FOOTER_________________________*/

.beheer-footer{
	background: rgb(183, 73, 73);
	height: auto;
}

/*_________________________________________________@MEDIA ZOOI____________*/
